.main-container {
  width: 100%;
  max-width: 960px;
  margin-inline: auto;
}

.tasks-header {
  padding: 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #231942;
}

.submit-button {
  margin-bottom: 5rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #f5f0f9;
  background-color: #6a1f9f;
  border-radius: 20px;
  border: 2px solid #f5f0f9;
}

.submit-button:hover {
  cursor: pointer;
  color: #f5f0f9;
  background-color: #231942;
  border: 2px solid #f5f0f9;
}

.reset-button {
  margin-bottom: 5rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #6a1f9f;
  background-color: #f5f0f9;
  border-radius: 20px;
  border: 2px solid #6a1f9f;
}

.reset-button:hover {
  cursor: pointer;
  color: #f5f0f9;
  background-color: #231942;
  border: 2px solid #f5f0f9;
}
