.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #333;
    border: 1px solid black;
}
.footerSection{
     border: 1px solid white;
     color: whitesmoke;
     display: flex;
     flex-direction: column;
     justify-content: top;
     align-items: center;
     min-height: 20vh;
     
}