.resultSummary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  box-shadow: 1px 1px 10px #6a1f9f;
  border-radius: 15px;
  padding: 20px 5px;
}
