.main {
  width: 100%;
  max-width: 950px;
  margin-inline: auto;
  line-height: 1.2em;
}

.bigHeadline{
  text-align: center;
  margin: 20px;
  color: #231942;
}
.headline, .subHeadlines {
  margin: 20px 0px 0px 18px;
  color: #231942;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px 0;
  width: 100%;
  height: 10vh;
  background-color: #231942bd;
}

.links {
  font-weight: bold;
  color:whitesmoke;
  padding:10px 20px;
  border-radius: 10px;
  font-size: 1.1rem;
  text-decoration: underline #be95c4;
}
.links:hover {
  box-shadow: 1px 1px 7px #be95c4;
  color: whitesmoke;
  text-decoration: none;  
  transition: 0.5s ease;
}

.lists {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.codeLine {
  margin: 35px;
  box-shadow: 1px 1px 10px #be95c4;
  border-radius: 15px;
  padding: 20px 5px;
  overflow-x: auto;
}

.content {
  padding: 10px 20px;
  margin: 5px 0;
}

.subImages {
  width: 14em;
  margin: 0 100px;
}

.sectImage {
  width: 35em;
  margin: 20px 150px;
}

.btnBox {
  display: flex;
  justify-content: center;
}

.btn {
  margin-bottom: 5rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #f5f0f9;
  background-color: #6a1f9f;
  border-radius: 20px;
  border: 2px solid #f5f0f9;
}
.btn:hover {
  cursor: pointer;
  color: #6a1f9f;
  background-color: #f5f0f9;
  border: 2px solid #6a1f9f;
}
